body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #6a11cb, #2575fc); /* רקע צבעוני */
  color: #333;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #ff7f50; /* כפתור כתום */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4500; /* כפתור כהה יותר במעבר */
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 40px);
  max-width: 300px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* תיבת רקע לבנה עם שקיפות */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.center {
  text-align: center;
}
